doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no")
		
		if (session.uiTheme || session.uiTheme == "dark"||session.uiTheme=="")
			link(rel="stylesheet", href="/css/bootstrap-dark.css")
			style.
				hr { background-color: #555555; }
		else
			link(rel="stylesheet", href="/css/bootstrap.min.css", integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4", crossorigin="anonymous")
		
		link(rel="stylesheet", href="/css/ub.css")
		link(rel="stylesheet", href="/css/default.min.css")
		link(rel="stylesheet", href="/css/radial-progress.css", type="text/css")
		link(rel='stylesheet', href='/css/styling.css')

		link(rel="icon", type="image/png", href=("/img/logo/pkc.png"))

		block headContent
			title(i18n-content="Explorer")
		
	body
		nav(class="navbar navbar-expand-lg navbar-dark bg-dark mb-4")
			div(class="container")
				a(class="navbar-brand", href="/")
					span
						if (coinConfig.logoUrl)
							img(src=coinConfig.logoUrl, class="header-image", alt="logo")
						span(i18n-content="PKcoin_Explorer")
						
				button(type="button", class="navbar-toggler navbar-toggler-right", data-toggle="collapse", data-target="#navbarNav", aria-label="collapse navigation")
					span(class="navbar-toggler-icon")
					
				div(class="collapse navbar-collapse", id="navbarNav")
					if (client)
						ul(class="navbar-nav mr-auto")
							li(class="nav-item")
								a(href="/about", class="nav-link")
									span(i18n-content="About")

							if (config.siteTools)
								li(class="nav-item dropdown")
									a(class="nav-link dropdown-toggle", href="javascript:void(0)", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 
										span(i18n-content="Tools")
									div(class="dropdown-menu", aria-label="Tools Items")
										each item in config.siteTools
											a(class="dropdown-item", href=item.url)
												i(class=item.fontawesome, style="width: 20px; margin-right: 10px;")
												if(session.locate=="english")
													span  #{item.name}
												else
													span  #{item.zhname}	

								li(class="nav-item")
								a(href="/tokens", class="nav-link")
									span(i18n-content="Tokens")

							li(class="nav-item dropdown")
								a(class="nav-link dropdown-toggle", href="javascript:void(0)", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 
									i(class="fas fa-cog")
									span(i18n-content="Settings")
								div(class="dropdown-menu", aria-labelledby="navbarDropdown")
									if (coinConfig.currencyUnits)
										span(class="dropdown-header" i18n-content="Currency_Units")
										each item in coinConfig.currencyUnits
											a(class="dropdown-item", href=("/changeSetting?name=currencyFormatType&value=" + item.values[0]))
												each valueName in item.values
													if (currencyFormatType == valueName)
														i(class="fas fa-check")
												span  #{item.name}
									span(class="dropdown-header" i18n-content="Language")
									a(class="dropdown-item", href="/changeSetting?name=locate&value=english")
										if (session.locate == "english" )
											i(class="fas fa-check")
										span(i18n-content="English")
									a(class="dropdown-item", href="/changeSetting?name=locate&value=chinese")
										if (session.locate == "chinese"|| session.locate == ""||session.locate!="english")
											i(class="fas fa-check")
										span(i18n-content="Chinese")

						form(method="post", action="/search", class="form-inline")
							div(class="input-group input-group-sm")
								input(type="text", class="form-control form-control-sm", name="query", i18n-placeholder="blockheighthashtxidaddress", value=(query), style="width: 300px;")
								div(class="input-group-append")
									button(type="submit", class="btn btn-primary")
										i(class="fas fa-search")
		
		if (host && port && !homepage)
			div(id="sub-menu", class="container mb-4", style="margin-top: -1.0rem;")
				ul(class="nav")
					each item, index in config.siteTools
						li(class="nav-item")
							a(href=item.url, class="nav-link")
								if(session.locate=="english")
									span  #{item.name}
								else
									span  #{item.zhname}	
					

				hr
				
		div(class="container")
			if (userMessage)
				div(class="alert", class=(userMessageType ? ("alert-"  + userMessageType) : "alert-warning"), role="alert")
					span !{userMessage}
			
			block content

			div(style="margin-bottom: 30px;")

			footer(class="footer bg-dark text-light pt-3 pb-1 px-3", style="margin-top: 50px;")
				div(class="container")
					div(class="row")
						div(class="col-md-5")
							dl
								dt(i18n-content="Source")
								dd
									a(href="http://www.pkc.ink") http://www.pkc.ink

								dt(i18n-content="Running_Version")
								dd
									span 1.0.0
									span(style="color: #ccc;")  (#{sourcecodeDate})

								if (config.demoSite)
									dt Public Demos
									dd
										if (coinConfig.demoSiteUrl)
											a(href=coinConfig.demoSiteUrl) #{coinConfig.demoSiteUrl}
										else
											a(href="https://btc-explorer.chaintools.io") https://btc-explorer.chaintools.io
										
										div(class="mt-2")
											- var demoSiteCoins = ["BTC", "LTC"];
											each demoSiteCoin in demoSiteCoins
												a(href=coinConfigs[demoSiteCoin].demoSiteUrl, class="mr-2", title=coinConfigs[demoSiteCoin].siteTitle)
													img(src=("/img/logo/" + demoSiteCoin.toLowerCase() + ".svg"), alt=demoSiteCoin.toLowerCase())

											a(href="https://lightning.chaintools.io", class="mr-2", title="Lightning Explorer")
												img(src=("/img/logo/lightning.svg"), style="width: 32px; height: 32px;", alt="lightning")

						div(class="col-md-7 text-md-right")
							dl
								dt(i18n-content="More_Info")
								dd
									div(class="text-md-right text-center")
										each coin, index in config.donationAddresses.coins
											div(style="display: inline-block; max-width: 150px;", class="text-center mb-3 word-wrap monospace", class=(index > 0 ? "ml-md-3" : false))
												if (coinConfig.ticker == coin)
													img(src="/img/PKC.png",style="border: solid 1px #ccc;" width="148px" height="148px")
													br
												else
													img(src="/img/caijing.jpg",style="border: solid 1px #ccc;" width="148px" height="148px")
													br
												if (coinConfig.ticker == coin)
													a(href="http://www.pkc.ink") PKC官网
												else
													span 金科财经公众号		
		script(src="/js/jquery-3.3.1.min.js")
		script(src="/js/di18n.min.js")
		if(session.locate=="english")
			script(src="/js/en.js")
		else
			script(src="/js/zh.js")
		script(src="/js/popper.min.js")
		script(src="/js/tether.min.js")
		script(src="/js/bootstrap.min.js")
		script(defer, src="/js/all.js")

		script(src="/js/highlight.min.js")

		script.
			$(document).ready(function() {
				$('[data-toggle="tooltip"]').tooltip();
				$('[data-toggle="popover"]').popover({html:true, container:"body"});
			});

			hljs.initHighlightingOnLoad();

		if (config.credentials.sentryUrl && config.credentials.sentryUrl.length > 0)
			script(src="/js/bundle.min.js", crossorigin="anonymous")
			script.
				Sentry.init({ dsn: '#{config.credentials.sentryUrl}' });

		if (config.credentials.googleAnalyticsTrackingId && config.credentials.googleAnalyticsTrackingId.trim().length > 0)
			script(async, src=("https://www.googletagmanager.com/gtag/js?id=" + config.credentials.googleAnalyticsTrackingId))
			script.
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', '#{config.credentials.googleAnalyticsTrackingId}');

		
		block endOfBody
